/* src/components/PageWrapper.module.css */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    position: relative;
    flex: 1;
    background:
      repeating-linear-gradient(0deg, #e9d5ff 0 2px, transparent 2px 68px),
      repeating-linear-gradient(90deg, #e9d5ff 0 2px, transparent 2px 68px);
    overflow: auto;
  }